.button-container {
    height: 600px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.center-button {
    background-color: #135183;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    height: 300px;
    width: 300px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.button-text {
    font-size: 25px;
    color: #FFFFFF;
}
.button-container a:hover {
    text-decoration: none;
}
a:hover .center-button .button-text {
    font-size: 27px;
}
a:hover .center-button {
    height: 315px;
    width: 315px;
}

@media only screen and (max-width: 800px) {
    .toolbar {
        width: 300px;
    }
}
